/* fonts */

@import "http://fonts.googleapis.com/css?family=Open+Sans:400,700";


/* colour scheme */

/*
#f2eeda
#d8d5c3
#bfbcac
#8c897e
#595750
#3f3e39
*/


/* generic styles */

body { margin: 0; padding: 65px 0 0 160px; background: #f2eeda; color: #3f3e39;
	font-family: 'Open Sans'; font-size: 16px; }

a { color: #595750; }
a:hover, a:focus { color: #3f3e39; }

ul { margin: 0; padding: 0; list-style: none; }
li { margin: 0 0 10px; }

label { color: #595750; font-size: 13px; }
input, select, textarea { margin: 0; padding: 2px 5px; border: 0;
	background: #f2eeda; font-family: 'Open Sans'; font-size: 16px; }
textarea { resize: vertical; }


/* page layout */

.header { width: 100%; padding: 5px 25px 10px; background: #3f3e39; color: #f2eeda;
	position: fixed; top: 0; left: 0; }
.header h1 { margin: 0; line-height: 30px; font-size: 30px; }

.nav { padding: 10px 0; border-radius: 5px; background: #3f3e39; position: fixed; top: 65px;
	left: 25px; }
.nav a { display: block; width: 80px; padding: 5px 15px; color: #f2eeda; text-decoration: none; }
.nav a:hover, .nav a:focus { background: #595750; outline: 0; }
.nav a.selected { background: #8c897e; font-weight: bold; }

.content { width: 530px; border-radius: 5px; background: #bfbcac; }
.content h2 { margin: 0 0 15px; padding: 2px 10px; background: #3f3e39; color: #f2eeda;
	border-radius: 5px 5px 0 0; }
.content > div { padding: 0 10px 10px; }


/* content */

.objects h3 { background: #595750; margin: 0; padding: 2px 8px; color: #f2eeda; font-size: 18px;
	font-weight: normal; cursor: pointer; }
.objects h3 .obj-id { display: block; font-size: 13px; line-height: 13px; }
.objects .details { margin-bottom: 0; }

.details { margin-bottom: 10px; padding: 5px 5px 0; background: #d8d5c3; line-height: 24px;
	overflow: auto; }

label { min-height: 24px; margin-bottom: 5px; float: left; clear: both; }
.field { width: 400px; min-height: 24px; margin-bottom: 5px; box-sizing: border-box; float: right; }
.field label { margin-bottom: 0; clear: none; }
.field .field { width: 300px; margin-bottom: 0; }

.tag { display: inline-block; margin-right: 4px; padding: 0 5px; background: #f2eeda; }


/* specific views */

.startroom { float: right; }
.startroom .obj-id { float: left; font-size: 13px; color: #595750; }

.vars { width: 230px; }
.vars .details { width: 200px; }
.vars .details .field { width: 90px; text-align: center; }

.words .details { padding-bottom: 5px; }

.control { margin-bottom: 5px; border: 1px solid #595750;
	background: #bfbcac; }
.control-header { height: 10px; background: #595750; }
.control-inner { padding: 4px 5px 0; }
.control-item { padding-bottom: 4px; }

.cond { max-width: 400px; white-space: break-word; }

.control-list { margin-bottom: 5px; padding: 4px 5px 0; background: #d8d5c3; }
.if { border-left: 10px solid #f2eeda; }
.then { border-left: 10px solid #bde595; }
.else { border-left: 10px solid #e5a295; }

/*.objects .details, .control-item { display: none; }*/
