@import "http://fonts.googleapis.com/css?family=Open+Sans:400,700";

/*

#f2eeda
#d8d5c3
#bfbcac
#8c897e
#595750
#3f3e39

*/

body { margin: 0; background: #f2eeda; color: #3f3e39; font-family: 'Open Sans'; }
body > div { float: left; margin: 20px; padding: 0 10px; background: #bfbcac; }

p { cursor: pointer; text-transform: capitalize; }
p.selected { font-weight: bold; }

h1 { margin: 0 0 .5em; }
h3, h4 { margin: 0; font-weight: normal; cursor: pointer; }

ul { padding: 0; list-style: none; }
li { margin: 0 0 10px; }

dt { float: left; }
dd { margin: 0; text-align: right; }

.details { display: none; }

.test, .word, .action { display: inline-block; margin: 0 4px 4px 0; padding: 0 2px; background: #f2eeda; }

.control { margin-bottom: 5px; padding: 4px 5px 0; border: 1px solid #595750;
	border-top-width: 10px; background: #bfbcac; }

.cond { max-width: 400px; white-space: break-word; }

.control-list { /*min-height: 22px;*/ margin-bottom: 5px; padding: 4px 5px 0; background: #d8d5c3; }
.if { border-left: 10px solid #f2eeda; }
.then { border-left: 10px solid #bde595; }
.else { border-left: 10px solid #e5a295; }