							<div class='action' ng-if='!isControl(control)'>{{control}}</div>
							<div class='control' ng-if='isControl(control)'>
								<div class='control-list if'>
									<div class='cond' ng-repeat='cond in control.if'>
										<div class='test' ng-repeat='test in cond'>{{test}}</div>
									</div>
								</div>
								<div class='control-list then'>
									<div class='control-container' ng-repeat='control in control.then' ng-include="'partials/control'"></div>
								</div>
								<div class='control-list else'>
									<div class='control-container' ng-repeat='control in control.else' ng-include="'partials/control'"></div>
								</div>
							</div>
