			<ul class='objects'>
				<li ng-repeat='noun in game.nouns'>
					<h3>
						<span class='obj-id'>{{noun.id}}</span>
						{{noun.shortname}}
					</h3>
					<div class='details'>
						<label>Name</label>
						<input class='field' type='text' ng-model='noun.name'>
						
						<label>Short Desc</label>
						<input class='field' type='text' ng-model='noun.shortdesc'>
						
						<label>Description</label>
						<textarea class='field' ng-model='noun.description'></textarea>
						
						<label>Locations</label>
						<div class='field'>
							<span class='tag' ng-repeat='loc in noun.initial_locs'>{{loc}}</span>
						</div>
					</div>
				</li>
			</ul>
