			<h1>Nouns</h1>
			<ul class='objects'>
				<li ng-repeat='noun in game.nouns'>
					<h3>
						<span class='obj-id'>{{noun.id}}</span>
						{{noun.shortname}}
					</h3>
					<div class='details'>
						<label>Name</label>
						<div class='field'><input type='text' value='{{noun.name}}'></div>
						
						<label>Short Desc</label>
						<div class='field'><input type='text' value='{{noun.shortdesc}}'></div>
						
						<label>Description</label>
						<div class='field'><textarea>{{noun.description}}</textarea></div>
						
						<label>Locations</label>
						<div class='field'>
							<span class='tag' ng-repeat='loc in noun.initial_locs'>{{loc}}</span>
						</div>
					</div>
				</li>
			</ul>
