			<div class='details'>
				<label>Start</label>
				<select class='startroom field' ng-model='startRoom' ng-options='room.id as getLabel(room.id) for room in game.rooms'>
					<option value=''>-</option>
				</select>
			</div>
			<ul class='objects'>
				<li ng-repeat='room in game.rooms'>
					<h3>
						<span class='obj-id'>{{room.id}}</span>
						{{room.name}}
					</h3>
					<div class='details'>
						<label>Description</label>
						<textarea class='field' ng-model='room.description'></textarea>
							
						<label>Exits</label>
						<div class='field' ng-repeat='(ex, dest) in room.exits'>
							<label>{{ex}}</label>
							<div class='field'>{{getLabel(dest)}}</div>
						</div>
					</div>
				</li>
			</ul>
