<!DOCTYPE html>
<html ng-app='advApp'>
	<head>
		<title>Adventure Engine</title>
		<link rel='stylesheet' type='text/css' href='static/game.css'>
		<script type='text/javascript' type='text/css' src='static/angular.min.js'></script>
		<script type='text/javascript' type='text/css' src='static/angular-route.min.js'></script>
		<script type='text/javascript' type='text/css' src='static/jquery-1.11.0.min.js'></script>
		<script type='text/javascript' type='text/css' src='static/game-ng.js'></script>
		<script type='text/javascript' type='text/css' src='static/effects.js'></script>
	</head>
	<body ng-controller='advController'>
		<div class='nav'>
			<a ng-repeat='view in nav' ng-class='{selected: isCurrent(view)}' href='#{{view}}'>{{vnames[view]}}</a>
		</div>
		<div ng-view></div>
	</body>
</html>