			<ul class='objects'>
				<li class='details' ng-repeat='noun in game.nouns' ng-click='$parent.currentNoun=noun'>
					<label>{{noun.id}}</label>
					<div class='field'>{{noun.shortname}}</div>
					
					<div class='editor details' ng-if='noun == currentNoun'>
						<h3>
							<span class='obj-id'>{{currentNoun.id}}</span>
							{{currentNoun.shortname}}
						</h3>
						<label>Name</label>
						<input class='field' type='text' ng-model='currentNoun.name'>
						
						<label>Short Desc</label>
						<input class='field' type='text' ng-model='currentNoun.shortdesc'>
						
						<label>Description</label>
						<textarea class='field' ng-model='currentNoun.description'></textarea>
						
						<label>Locations</label>
						<div class='field'>
							<span class='tag' ng-repeat='loc in currentNoun.initial_locs'>{{loc}}</span>
							<span class='add'>＋</span>
						</div>
					</div>
					
				</li>
			</ul>
