			<div class='details overflow'>
				<label>Start</label>
				<select class='startroom field' ng-model='startRoom' ng-options='room.id as getLabel(room.id) for room in game.rooms'>
					<option value=''>-</option>
				</select>
			</div>
			
			<span class='add'>＋</span>
			
			<ul class='objects'>
				<li class='details' ng-repeat='room in game.rooms' ng-click='$parent.currentRoom=room'>
					<label>{{room.id}}</label>
					<div class='field'>{{room.name}}</div>
					
					<div class='editor details' ng-if='room == currentRoom'>
						<h3>
							<span class='obj-id'>{{room.id}}</span>
							{{room.name}}
						</h3>
						<label>Description</label>
						<textarea class='field' ng-model='room.description'></textarea>
							
						<label>Exits</label>
						<div class='field'>
							<label ng-repeat-start='(ex, dest) in room.exits'>{{ex}}</label>
							<div class='field' ng-repeat-end>{{getLabel(dest)}}</div>
							<span class='add'>＋</span>
						</div>
					</div>
				</li>
			</ul>
